/* CONTACT PAGE CONTENTS */

body {
    height: auto;
    overflow: auto;
    margin: 0;
    background: url(images/strawberries-1326148_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#contact-black-box {
    background-color: var(--background-dark);
    border-radius: 2px;
    padding: 20px;
    text-align: center;
}

.contact-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

#image-link-fb {
    margin: 0 auto;
    width: 60%;
}

#face-book {
    width: 100%;
    display: block;
    height: 200px;
    padding-bottom: 1em;
}

/* SPACING */

.contact-title,
#first-text,
#second-text,
#third-text,
#fourth-text {
    padding: 1em;
}

/* FOOTER STYLE */
#end-page,
#end-page-mini {
    padding-top: 20px;
    background-color: var(--background-dark);
    width: 100%;
}

.footer-button {
    background-color: var(--clr-olive);
    color: var(--clr-paper);
}

.footer-button:hover {
    border-color: var(--clr-basil);
    background-color: var(--clr-sage);
    color: var(--clr-paper);
}

.footer-button:active {
    border-color: var(--clr-basil);
    background-color: var(--clr-basil);
    color: var(--clr-paper);
}
