/* CONTACT PAGE CONTENTS */

body {
    overflow: auto;
    margin: 0;
}

#contact-black-box {
    width: min(100% - 3 rem, 900px);
    margin-inline: auto;
    background-color: var(--background-dark);
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.contact-main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-height: 100%;
    background: url(images/strawberries-1326148_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* SPACING */

.contact-title,
#first-text,
#second-text,
#third-text,
#fourth-text {
    padding: 1em;
}

#fourth-text {
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* FOOTER STYLE */
#end-page,
#end-page-mini {
    padding-top: 20px;
    background-color: var(--background-dark);
    width: 100%;
}

.footer-button {
    background-color: var(--clr-olive);
    color: var(--clr-paper);
}

.footer-button:hover {
    border-color: var(--clr-basil);
    background-color: var(--clr-sage);
    color: var(--clr-paper);
}

.footer-button:active {
    border-color: var(--clr-basil);
    background-color: var(--clr-basil);
    color: var(--clr-paper);
}

#face-book,
#instagram {
    height: 100px;
    padding-bottom: 1em;
    transition: 0.1s;
}

#face-book:hover,
#instagram:hover {
    filter: invert(38%) sepia(100%) saturate(6003%) hue-rotate(351deg)
        brightness(100%) contrast(99%) !important;
}

#socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    gap: 2em;
}

#keep-up {
    margin: 2em 0 2em;
}
