/* HISTORY CONTENT */

#history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#history-block {
    margin: 1em 0 2em 0;
    max-width: 1230px;
    align-self: center;
    background-color: var(--clr-basil-light);
}

.history-title {
    padding-top: 1em;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#history-grid-1,
#history-grid-2,
#history-grid-3 {
    padding: 2em 4em 2em;
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    max-width: 1000px;
}

@media (min-width: 40em) {
    #history-grid-1,
    #history-grid-2,
    #history-grid-3 {
        grid-template-columns: auto minmax(0, 1fr);
        text-align: start;
        gap: 2rem;
    }
}

.history-photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cross-photo {
    height: 700px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 4em;
}

#rosies-today {
    text-align: center;
}

.today-stand {
    margin-bottom: 2.5em;
    max-width: 800px;
    border-radius: 10px;
}

.news-links:link {
    text-decoration: underline;
    padding: 0;
}

#news-articles {
    text-align: start;
    padding: 1em 2em 3em;
}

#link-spacing {
    padding-bottom: 2em;
}

#face-book,
#instagram {
    height: 100px;
    padding-bottom: 1em;
    transition: 0.1s;
}

#face-book:hover,
#instagram:hover {
    filter: invert(38%) sepia(100%) saturate(6003%) hue-rotate(351deg)
        brightness(100%) contrast(99%) !important;
}

.photograph-description {
    text-align: center;
}

#keep-up,
#community-involvement {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding-bottom: 2em;
}

#socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    gap: 2em;
}
