/* HOME PAGE CONTENTS */

/*HERO IMAGE SECTION */

#hero-image-section {
    min-width: 100%;
    margin: 0;
}

#hero {
    width: 100%;
}

#slogan {
    text-align: center;
    padding-top: 1em;
    text-shadow: 1px 1px 1px var(--clr-eggplant);
}

/* ADDRESS SECTION */

#address-and-title {
    text-align: center;
    padding: 1em;
    background-color: var(--clr-basil);
    box-shadow: 0px 5px 4px -3px rgba(0, 0, 0, 0.15);
}

/* GRID */

#grid-layout {
    display: grid;
    margin: 3em 3em 0;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

@media (min-width: 50em) {
    #grid-layout {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 3em;
    }

    #home-photo-family,
    #home-jersey-tomatoes {
        margin-top: 1em;
        box-shadow: 5px 5px 4px -3px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
    }
}

/* 1961 */

#since-1961,
#mind-body-soul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 1.5em 0;
    margin-bottom: 3em;
}

.box-color-home {
    background-color: var(--clr-basil-light);
    /* height: 800px; */ /* Decided to change these settings - - didn't look great with scaling*/
    max-width: 850px;
    margin-bottom: 45px;
    box-shadow: 5px 5px 4px -3px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.home-text {
    min-height: 357.5px;
}
