/* PRODUCTS PAGE CONTENTS */

.box-color-products {
    background-color: var(--clr-basil-light);
    max-width: 1500px;
    margin: 50px 80px 50px;
    box-shadow: 5px 5px 4px -3px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.product-title {
    padding: 25px 0 0;
}
#grid-has-it-all {
    padding: 2em 4em 2em;
    display: grid;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

@media (min-width: 40em) {
    #grid-has-it-all {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 60em) {
    #grid-has-it-all {
        grid-template-columns: repeat(3, 1fr);
    }
}

#items-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#click-here-seasons {
    padding: 0;
    color: var(--clr-olive);
    text-decoration: underline;
}
