/* SEASONS PAGE CONTENTS */

body {
    height: auto;
    margin: 0;
    overflow: auto;
    background: url(images/vege-large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#seasons-black-box {
    width: min(100% - 3 rem, 900px);
    margin-inline: auto;
    background-color: var(--background-dark);
    border-radius: 2px;
    padding: 5rem;
    margin-bottom: 20px;
}

.seasons-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5em;
}

.harvest-title {
    padding-bottom: 1.5em;
}

/* TABLES */

caption {
    color: var(--clr-paper);
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
}

table {
    color: var(--clr-olive);
    font-family: var(--font-family-body);
    background: var(--clr-paper);
    text-align: left;
    border-collapse: collapse;
    border: 3px solid var(--clr-olive);
    border-radius: 2px;
    width: 100%;
}

th,
td,
caption {
    padding: 0.3rem;
}

th {
    background-color: var(--clr-olive);
    color: var(--clr-paper);
}

tr:nth-of-type(2n) {
    background-color: var(--clr-receipt);
}

@media (max-width: 650px) {
    th {
        display: none;
    }

    td::before {
        content: attr(data-cell) ': ';
        font-weight: 700;
        text-transform: capitalize;
    }

    td {
        display: grid;
        grid-template-columns: 15ch auto;
        padding: 0.5rem 1rem;
    }

    td:first-child {
        padding-top: 1rem;
    }
    td:last-child {
        padding-bottom: 1rem;
    }
    .harvest-title {
        font-size: var(--fs-400);
    }
    #seasons-black-box {
        padding: 1rem;
    }
}

/* FOOTER STYLE */

#end-page,
#end-page-mini {
    padding-top: 20px;
    background-color: var(--background-dark);
}

.footer-button {
    background-color: var(--clr-olive);
    color: var(--clr-paper);
}

.footer-button:hover {
    border-color: var(--clr-basil);
    background-color: var(--clr-sage);
    color: var(--clr-paper);
}

.footer-button:active {
    border-color: var(--clr-basil);
    background-color: var(--clr-basil);
    color: var(--clr-paper);
}
