@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:wght@400;500;700&display=swap');

:root {
    --clr-paper: #fffbe6;
    --clr-receipt: #ebe7d1;
    --clr-basil: #b9e4c9;
    --clr-basil-light: #b9e4c965;
    --clr-sage: #37966f;
    --clr-olive: #356859;
    --clr-tomato: #f62d20;
    --clr-eggplant: #1d0d0c;

    --font-family-body: 'Montserrat', sans-serif;
    --font-family-slogan: 'Chilanka', cursive;

    --font-weight-regular: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;

    --fs-400: 1.3rem;
    --fs-500: 1.875rem;
    --fs-600: 2.5rem;

    --background-light: rgba(0, 0, 0, 0.6);
    --background-dark: rgba(0, 0, 0, 0.9);
}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    border-radius: 2px;
    /* font: inherit; */
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    background-color: var(--clr-paper);
}

.title-text {
    text-align: center;
    padding-bottom: 1em;
}

.underline-title {
    text-decoration: underline;
    text-decoration-color: var(--clr-basil);
    text-underline-offset: 8px;
}

.underline-title-dark {
    text-decoration: underline;
    text-decoration-color: var(--clr-olive);
    text-underline-offset: 8px;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow: auto;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
    border-radius: 2px;
}

/* HEADER */
.header,
.header-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header {
    height: 70px;
    background-color: var(--clr-paper);
}

/*small screen header */

.small-screen-header {
    height: 40px;
    background-color: var(--clr-paper);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    max-width: 800px;
    padding: 2em 1em 2em;
}

#tomato-icon {
    max-height: 50px;
}

#tomato-icon-small-screen {
    max-height: 40px;
}

.menu-button,
.menu-image {
    border: none;
    background-color: var(--clr-paper);
    max-height: 30px;
}

.heading-note {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-align: center;
}

/*nav links*/

.click-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-basil);
    min-height: 70px;
    min-width: 100%;
}

a {
    color: var(--clr-olive);
    padding: 0 25px 0;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* FOOTER */
#end-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 0.5em;
    border: none;
    background-color: var(--clr-receipt);
    margin-bottom: 0.5em;
    box-shadow: 0px 5px 4px -3px rgba(0, 0, 0, 0.15);
    border: solid 3px;
    border-color: var(--clr-receipt);
    transition: transform 0.3s;
}

.footer-button:hover {
    background-color: var(--clr-paper);
    border: solid 3px;
    border-color: var(--clr-basil);
    border-radius: 2px;
}

.footer-button:active {
    background-color: var(--clr-basil);
    border: solid 3px;
    border-color: var(--clr-basil);
    border-radius: 2px;
    transform: scale(1.1);
}

#up-arrow {
    max-height: 30px;
    max-width: 30px;
}

/*Small screen footer*/

#end-page-mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-button-mini {
    padding: 1em;
    border: none;
    background-color: transparent;
    transition: transform 0.3s;
}

#up-arrow-mini {
    height: 80px;
    width: 80px;
}

.footer-button-mini:hover {
    transform: scale(1.1);
}

.footer-button-mini:active {
    transform: scale(1.2);
}

@media (max-width: 45em) {
    #end-page {
        display: none;
    }
    #end-page-mini {
        display: flex;
    }
}

@media (min-width: 45em) {
    #end-page {
        display: flex;
    }
    #end-page-mini {
        display: none;
    }
}

/* Utility Classes */
.text-main-400 {
    font-family: var(--font-family-body);
    color: var(--clr-olive);
    font-size: var(--fs-400);
}

.small-header-main-500 {
    font-family: var(--font-family-body);
    color: var(--clr-olive);
    font-size: var(--fs-500);
}

.text-sm-title-400 {
    font-family: var(--font-family-body);
    color: var(--clr-olive);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--fs-400);
}

.text-main-red-400 {
    font-family: var(--font-family-body);
    color: var(--clr-tomato);
    font-weight: var(--font-weight-bold);
    font-size: var(--fs-400);
}

.text-slogan-red-500 {
    font-family: var(--font-family-slogan);
    color: var(--clr-tomato);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--fs-500);
}

.text-title-green-600 {
    font-family: var(--font-family-body);
    color: var(--clr-olive);
    font-weight: var(--font-weight-bold);
    font-size: var(--fs-600);
}

.text-title-green-500 {
    font-family: var(--font-family-body);
    color: var(--clr-olive);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--fs-500);
}

.text-title-red-500-thin {
    font-family: var(--font-family-body);
    color: var(--clr-tomato);
    font-weight: var(--font-weight-regular);
    font-size: var(--fs-500);
}

.text-title-red-bold-600 {
    font-family: var(--font-family-body);
    color: var(--clr-tomato);
    font-weight: var(--font-weight-bold);
    font-size: var(--fs-600);
}

.text-header-footer {
    font-family: var(--font-family-body);
    color: var(--clr-olive);
    font-weight: var(--font-weight-bold);
    font-size: var(--fs-400);
}

.text-slogan-red-600 {
    font-family: var(--font-family-slogan);
    color: var(--clr-tomato);
    font-weight: var(--font-weight-bold);
    font-size: var(--fs-600);
}

.informative-text-bold {
    font-family: var(--font-family-body);
    color: var(--clr-paper);
    font-weight: var(--font-weight-bold);
    font-size: var(--fs-500);
}
.informative-text-bold-xl {
    font-family: var(--font-family-body);
    color: var(--clr-paper);
    font-weight: var(--font-weight-bold);
    font-size: var(--fs-600);
}

.informative-text-400 {
    font-family: var(--font-family-body);
    color: var(--clr-paper);
    font-weight: var(--font-weight-regular);
    font-size: var(--fs-400);
}

.photograph-description {
    font-family: var(--font-family-body);
    color: var(--clr-eggplant);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--fs-500);
}

.bg-clr-light-green {
    background-color: var(--clr-basil);
    width: 100%;
}

/* Screen Sizes */

@media (max-width: 60em) {
    .text-header-footer {
        font-size: 1rem;
    }
    a {
        padding: 0 10px 0;
    }
}

@media (max-width: 37em) {
    .header {
        display: none;
    }
    .small-screen-header {
        display: flex;
    }
}

@media (min-width: 37em) {
    .header {
        display: flex;
    }
    .small-screen-header {
        display: none;
    }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: var(--clr-basil-light);
}

::-webkit-scrollbar-thumb {
    background: var(--clr-olive);
}

::-webkit-scrollbar-corner {
    background: var(--clr-basil-light);
}
